
.container-text {
    margin: 30px;
}

.image-position-size {
    width: 50%;
    margin: 30px 25% 20px;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.texto-search {
    margin: 50px;
}

.form-size {
    margin: 40px 25%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; 
}

.footer {
    width: 100%;
    position: unset;
    bottom: 0%;
    left: 0%;
}
